.modal-window {
  background-color: #f1f3f5;
  border-radius: 15px;
  width: 110vh;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  margin: 0;
  border: #3b5bdb solid 1px;
  border-radius: 15px 15px 0 0;
  background-color: #3b5bdb;
  padding: 10px;
  text-align: start;
  color: #212529;
}

h3 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: start;
  color: #212529;
  padding: 10px;
}

.button {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}
